<!doctype html>
<html>
<h1>{{ name }}</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/handle_data.css') }}">
   <body>
    <div class="row">
      <div class="column">
        <img src="data:image/png;base64,{{image1}}" alt="Chart 1" style="width:80%">
      </div>
      <div class="column">
        <img src="data:image/png;base64,{{image2}}" alt="Chart 2" style="width:80%">
      </div>
    </div>
  </body>
</html>